n8n-weekly-report-simple.json
{
  "name": "Leave System Weekly Report (Simple)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Monday 8:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5000/api/webhooks/weekly-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "leave-system-n8n-api-key-2024"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Get Weekly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sendTo": "narongchai11500@gmail.com",
        "subject": "=📊 รายงานสรุปการลาประจำสัปดาห์ ({{ $json.weekRange.start }} - {{ $json.weekRange.end }})",
        "emailType": "html",
        "message": "=<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto; background: #f5f5f5; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #667eea, #764ba2); padding: 25px; border-radius: 15px 15px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">📊 รายงานสรุปการลาประจำสัปดาห์</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0 0;\">{{ $json.weekRange.start }} - {{ $json.weekRange.end }}</p>\n  </div>\n  \n  <div style=\"background: white; padding: 25px; border-radius: 0 0 15px 15px; box-shadow: 0 4px 20px rgba(0,0,0,0.1);\">\n    \n    <h2 style=\"color: #667eea; border-bottom: 2px solid #667eea; padding-bottom: 10px;\">📈 สถิติภาพรวม</h2>\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr style=\"background: #f7fafc;\">\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0;\">📝 คำขอทั้งหมด</td>\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0; font-weight: bold; font-size: 18px; color: #667eea;\">{{ $json.statistics.totalRequests }} รายการ</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0;\">✅ อนุมัติแล้ว</td>\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0; color: #10b981;\">{{ $json.statistics.approved }} รายการ</td>\n      </tr>\n      <tr style=\"background: #f7fafc;\">\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0;\">⏳ รออนุมัติ</td>\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0; color: #f59e0b;\">{{ $json.statistics.pending }} รายการ</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0;\">❌ ไม่อนุมัติ</td>\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0; color: #ef4444;\">{{ $json.statistics.rejected }} รายการ</td>\n      </tr>\n      <tr style=\"background: linear-gradient(135deg, #667eea22, #764ba222);\">\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0; font-weight: bold;\">📅 รวมวันลาทั้งหมด</td>\n        <td style=\"padding: 12px; border: 1px solid #e2e8f0; font-weight: bold; font-size: 20px; color: #764ba2;\">{{ $json.totalLeaveDays }} วัน</td>\n      </tr>\n    </table>\n    \n    <h2 style=\"color: #667eea; border-bottom: 2px solid #667eea; padding-bottom: 10px;\">🏥 แยกตามประเภทการลา</h2>\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr style=\"background: #fef3c7;\">\n        <td style=\"padding: 10px; border: 1px solid #e2e8f0;\">🏥 ลาป่วย</td>\n        <td style=\"padding: 10px; border: 1px solid #e2e8f0;\">{{ $json.byLeaveType.sick }} รายการ</td>\n      </tr>\n      <tr style=\"background: #dbeafe;\">\n        <td style=\"padding: 10px; border: 1px solid #e2e8f0;\">📋 ลากิจ</td>\n        <td style=\"padding: 10px; border: 1px solid #e2e8f0;\">{{ $json.byLeaveType.personal }} รายการ</td>\n      </tr>\n      <tr style=\"background: #d1fae5;\">\n        <td style=\"padding: 10px; border: 1px solid #e2e8f0;\">🏖️ ลาพักร้อน</td>\n        <td style=\"padding: 10px; border: 1px solid #e2e8f0;\">{{ $json.byLeaveType.vacation }} รายการ</td>\n      </tr>\n    </table>\n    \n    <h2 style=\"color: #667eea; border-bottom: 2px solid #667eea; padding-bottom: 10px;\">📝 สรุป</h2>\n    <div style=\"background: #f7fafc; padding: 15px; border-radius: 10px; white-space: pre-wrap; font-size: 14px; line-height: 1.6;\">{{ $json.textSummary }}</div>\n    \n    <div style=\"margin-top: 25px; text-align: center;\">\n      <a href=\"http://localhost:5173/reports\" style=\"background: linear-gradient(135deg, #667eea, #764ba2); color: white; padding: 12px 30px; text-decoration: none; border-radius: 25px; font-weight: bold; display: inline-block;\">📊 ดูรายงานเต็ม</a>\n    </div>\n  </div>\n  \n  <p style=\"text-align: center; color: #718096; font-size: 12px; margin-top: 20px;\">ส่งอัตโนมัติจากระบบบริหารการลา</p>\n</div>"
      },
      "id": "send-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Every Monday 8:00 AM": {
      "main": [[{ "node": "Get Weekly Report", "type": "main", "index": 0 }]]
    },
    "Get Weekly Report": {
      "main": [[{ "node": "Send Report Email", "type": "main", "index": 0 }]]
    }
  }
}
